
@{
    ViewBag.Title = "Hakkimizda";
    Layout = "~/Views/Shared/WebLayout.cshtml";
}

<div class="main_features_content2">
    <div class="col-sm-6">
        <div class="single_features_left text-center">
          
            <img src="~/Content/SoftTek/assets/images/feature-2.jpg" />
        </div>
    </div>
    <div class="col-sm-6 margin-top-60">
        <div class="single_features_right ">
            <h2>Ürünlerimiz</h2>
            <p>Bilgisayar, akıllı telefon, fotoğraf makinesi ve video kamera cihazlarının servisini sağladığımız markalar:</p>
            <ul>
                <li>Lenovo/ HP / Asus </li>
                <li>Apple/ LG / Nokia / Samsung</li>
                <li>Samsung/ Canon / Nikon/ Panasonic</li>
            </ul>
            <div class="features_buttom">
                <a href="" class="btn btn-default"></a>
            </div>
        </div>
    </div>
</div>

